<app-header />
<app-calculate-form (sendData)="onCalculateData($event)"/>



@if(showTable) {
  <div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Total Amount</th>
        </tr>
      </thead>
      @for(risultato of results; track $index) {
        <tbody>
          <tr>
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{ risultato | number: '1.1-2' }}</td>
          </tr>
        </tbody>
      }
    </table>
  </div>
}